@import "tailwindcss";

@theme {
  --color-chuck-orange: #f15b23;
  --color-chuck-blue: #76c7ff;
  --color-chuck-brown: #8b5a2b;
  --color-chuck-black: #222;
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
